.row
  .large-12.columns
    / Navigation
    %nav.top-bar
      %ul.title-area
        / Title Area
        %li.name
          %h1
            %a{:href => "/"}
              Gifminer
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        %ul.left
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
        %ul.right
          %li.search
            %form
              %input{:type => "search"}/
          %li.has-button
            %a.small.button{:href => "#"} Search
    / End Navigation
